@model sampleadmin.Models.product

@{
    ViewBag.Title = "Details";
}

<h3>Product Details</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_image)

        </dt>

        <dd>
            <img src="@Url.Content(Model.p_image)" width=" 300" height=" 300" class=" img.rounded" />
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            ₹
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<div class=" col-md-8" padding: 2px">
    @Html.ActionLink("Add to cart", "Cart", "Shopcart", new { area = "", id = Model.p_id }, null)

</div>

<!--<p>-->
    @*<button type="button">Buy </button>*@
    <!--@Html.ActionLink("Buy Now", "Index")
</p>-->
